body, html {
  height: 100%;
}

body {
  background-color: #34495e;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  margin-top: 0;
}

#chat {
  height: 100%;
  width: 100%;
  max-width: 600px;
  float: left;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
}

#map {
  height: 100%;
  width: calc(100% - 600px);
  float: left;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
  position: relative;
}

#map-container {
  width: 100%;
  height: 100%;
}

form {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  background-color: #2c3e50;
  height: 61px;

  #m {
    box-sizing: border-box;
    border: 0;
    width: calc(100% - 110px);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #ecf0f1;
    height: 40px;

    &:focus {
      outline: 0;
      box-shadow: 0px 0px 0px 2px #2ecc71 inset;
    }

    &.timeout {
      box-shadow: 0px 0px 0px 2px #c0392b inset;
    }
  }

  button {
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #2ecc71;
    color: white;
    font-size: 1.20rem;

    &:active {
      background-color: #27ae60;
    }

    &:focus {
      outline: none;
    }
  }
}

#messages {
  height: calc(100% - 61px - 50px);
  overflow-y: auto;
  background-color: #ecf0f1;

  .message {
    overflow-x: auto;
    box-sizing: border-box;
    color: #333;
    color: white;
    font-size: 0.9;
    padding: 7px 5px 7px 10px;
  }

  .tag {
    display: inline-block;
    padding: 3px 10px;
    margin: 0 10px 0 0;
    float: left;
    background-color: #ecf0f1;
    border-radius: 5px;
    font-size: 0.8rem;
  }
}

header {
  height: 50px;
  background-color: #2c3e50;
  color: white;
  line-height: 50px;
  text-align: center;

  #color, #users, #name {
    display: block;
    width: 33.3%;
    height: 100%;
    float: left;
  }
  
  #user-color {
    height: 30px;
    width: 50px;
    display: inline-block;
    float: left;
    margin: 10px 0 10px 10px;
    border-radius: 5px;
  }

  #name {
    #tag {
      box-sizing: border-box;
      display: inline-block;
      border: 2px solid rgba(255, 255, 255, 0.5);
      background-color: #2c3e50;
      height: 35px;
      width: auto;
      padding: 0 10px;
      text-align: center;
      border-radius: 5px;
      margin: 8px 10px 8px 0;
      float: right;
      line-height: 30px;
      min-width: 60px;
      font-size: 0.8rem;
    }
  }

  #users {
    i {
      font-size: 1.5rem;
    }

    span {
      position: relative;
      left: 7px;
      top: -2px;
      font-size: 1rem;
    }
  }
}

@media (max-width: 1000px) {
  .wrap {
    top: 0;
    transform: none;
  }
  #chat, #map {
    border-radius: 0;
    max-width: 100%;
  }
  #map {
    width: 100%;
  }
  #mobile-arrow {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding-bottom: 60px;
  }
  #mobile-arrow i {
    color: white;
    background-color: #2c3e50;
    padding: 5px 20px 10px 20px;
    border-radius: 0 0 0 5px;
    font-size: 1.5em;
  }
}































